.create-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2px solid #e6e4e3;
  width: 50%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 150px auto;
}

 .create-portfolio button {
 font-size: 1rem;
 margin-top: 1.8rem;
 padding: 10px 0;
 border-radius: 20px;
 outline: none;
 border: none;
 border: none;
 width: 250px;
 color: #fff;
 cursor: pointer;
 background-color: #333;
}

@media screen and (max-width: 700px) {
  .create-portfolio {
  width: 90%;
  padding: 20px;
  margin: 20px auto;
}
}

