.create-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.create-portfolio button a {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .nextui-c-PJLV-ibNJLYr-css {
    font-size: 40px;
  }
  .nextui-c-PJLV-ijtZBCJ-css {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .nextui-c-PJLV-ibNJLYr-css {
    font-size: 30px;
  }
  .nextui-c-PJLV-ijtZBCJ-css {
    font-size: 20px;
  }
}
