.accordion {
  width: 200px;
}
.accordion-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  color: rgb(245, 245, 245);
  font-size: 1.2rem;
  cursor: pointer;
}

.accordion-content {
  color: rgb(245, 245, 245);
  margin-top: 0.6rem;
}
.accordion-content > ul {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.accordion-content > ul > li {
  list-style: none;
  font-size: 1.1rem;
}

.fa-solid {
  color: rgb(245, 245, 245);
}

.accordion-content > ul > li > a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
