.popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  word-wrap: break-word;
  backdrop-filter: blur(2px);
}

.popup-inner {
  position: relative;
  padding: 35px 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
  border-radius: 10px;
}

.popup-inner h2{
 margin-top: 50px;
 margin-bottom: -50px;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 150px;
  padding: 5px;
}

.popup-inner .copy-btn {
  position: absolute;
  top: 16px;
  right: 150px;
  width: 150px;
  margin-right: 20px;
}

.popup .content {
  margin-top: 60px;
  width: 100%;
}

.popup .content .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-bottom: .1px solid #f4f4f4;
}
.popup .content .row p{
  width: 60%;
  word-wrap: break-word;
}

@media screen and (max-width: 700px) {
  .popup-inner .close-btn {
    width: 90px;
  }

  .popup-inner .copy-btn {
    width: 90px;
    right: 90px;
  }
  .popup .content {
    margin-top: 70px;
    flex-wrap: nowrap;
    font-size: 14px;
  }

 
}
