.cross-btn > a > .fa-solid {
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: black;
  margin: 1em 0;
}
.cross-btn > a {
  text-decoration: none;
}
.form-container {
  width: 80%;
  margin: 0 2rem;
  align-self: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.popup-loader {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}
.popup-overlay {
  width: 100%;
}

.response {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 1.7rem;
}

.response > .status {
  word-break: break-all;
  color: #1b1919;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
.response > .web-hook-link {
  word-break: break-all;
  line-height: 1.5rem;
  font-family: sans-serif;
  color: #1b1919;
}

@media screen and (max-width: 1108px) {
  .form-container {
    width: 70%;
    height: auto;
  }
  .popup-content {
    position: fixed !important;
    left: 5% !important;
    bottom: 25px !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 650px) {
  .form-container {
    width: 100%;
  }
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
