.table-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  width: 100%;
  min-height: 90vh;
}

.loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
  border-style: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  z-index: 3;
  border-radius: 30px;
}
tr th {
  background-color: #1b43a1;
  padding: 1rem 0.5rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mobname {
  background-color: greenyellow;
  color: black;
}
h1 {
  text-align: center;
}
tr td {
  margin: 9px 0px;
  padding: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-break: break-all;
  font-size: 1.1rem;
}
.row {
  background-color: rgba(51, 172, 131, 0.74);
  color: white;
}

.tabdata {
  background-color: rgb(187, 195, 202);
  font-weight: 700;
  background-color: #abb3b1;
  color: #100f0f;
}

.button-know-more {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 50px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

.button-know-more:hover,
.button-know-more:focus {
  opacity: 0.75;
}

@media screen and (max-width: 700px) {
  tr th {
    font-size: 0.8rem;
  }
  .tabdata {
    font-size: 0.7rem;
  }
  .table-container {
    padding: 1rem 0.3rem;
  }
  .button-know-more {
    font-size: 8px;
    min-height: 30px;
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  z-index: 999;
  background: #181515ee;
  width: 90vw;
  height: 90vh;
  color: white;
  border-radius: 7px;
}

.close {
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
  font-size: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  border: none;
  background-color: #fff;
  color: #1976d2;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.pagination button:hover {
  background-color: #1976d2;
  color: #fff;
}

.pagination button.active {
  background-color: #1976d2;
  color: #fff;
}
.table-box {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
