.table-container {
  /* margin-top: 5rem; */
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  min-height: max-content;
  border: 0.2px solid #e6e4e3;
  border-radius: 10px;
}

form{
  width: 100%;
}

.loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border: 0.2px solid #e6e4e3;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 30px;
}
tr th {
  background-color: #333;
  padding: 1rem 0.5rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

tr td {
  margin: 9px 0px;
  padding: 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-break: break-all;
  font-size: 1.1rem;
}

.tabdata:nth-child(even) {
  background-color: #ffffff;
}

.tabdata {
  background-color: #F0EEED;
  font-weight: 700;
  color: #100f0f;
}

.button-know-more {
  background-color: #fff;
  border-radius: 4px;
  border: .1px solid #222;
  box-sizing: border-box;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 50px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

.button-know-more:hover,
.button-know-more:focus {
  opacity: 0.75;
}

@media screen and (max-width: 700px) {
  tr th, tbody tr td {
    font-size: 0.8rem;
  }

  .tabdata {
    font-size: 1rem;
  }
  .table-container {
    padding: 1rem 0.3rem;
  }
  .button-know-more {
    font-size: 8px;
    min-height: 30px;
    width: 100%;
  }

  .table-container {
  margin: 1.5rem;
  padding: 1rem 1.5rem;
}
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.pagination button:hover {
  background-color: #222;
  color: #fff;
}

.pagination button.active {
  background-color: #222;
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
                         list-style: none;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
  list-style: none;
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
  border-radius: 10px;
}

/* .days li:nth-child(odd) {
  visibility: hidden;
} */

.squares li {
  background-color: #ebedf0;
}


.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}