.home-text > p {
  text-align: center;
  font-size: 2.3rem;
  color: #1f1a1a;
  font-weight: bold;
  line-height: 60px;
  
}

.home-text{
  align-self: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1108px) {
  .home-text  {
    height: auto;
  }
  
}
@media screen and (max-width:776px) {
  .home-text > p {
    font-size: 1.5rem;
  }
  
}