.navbar {
  background-color: #333;
  height: 80px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.main-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.3);
}

.nav-logo {
  color: #999;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  display: flex;
  align-items:center;
}

.nav-logo span{
  padding-left: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 50px;
  margin: 1rem;
  position: relative;
}

.nav-item .icon{
  font-size: 20px;
  margin-right: 10px;
  position: sticky;
  left: -20px;
  top: 27px;
}

.nav-item:after{
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #333;
  background-color: white;
  border-radius: 10px;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 800px) {
   .nav-logo{
    font-size: 1.2rem;
  }

  .nav-item{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .nav-menu.active {
    background: #333;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .nav-item .active {
    color: #222;
    border: none;
  }

  .nav-links {
    padding: 0.3rem 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}

/* .nav-logo{} */


@media screen and (min-width: 800px) {
   .nav-logo{
    font-size: 1.1rem;
    word-wrap: break-word;
  }

  .nav-item{
    font-size: 0.9rem;
  }
}

