.sidebar {
  width: 30%;
  max-width: 450px;
  min-width: 200px;
  background-color: #54595f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 3rem;
  overflow-x: hidden;
  padding-top: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 999;
}
.sidebar::-webkit-scrollbar{
  width: 0;
  display: none;
}

.sidebar-header-top {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}
.sidebar-header-top > .logo {
  width: 28px;
}

.sidebar-header-top > .title {
  color: #fdfbfb;
}

.fa-bars {
  color: #7a7a7a;
  font-size: 1.2rem;
  cursor: pointer;
}

.fa-bars:hover::before {
  display: block;
}

.fa-bars:hover,
.sidebar-header-top > .title:hover {
  color: #dee2ec;
}

.sidebar-header-bottom {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0;
}
.sidebar-header-bottom > .sidebar-icons {
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: #7a7a7a;
  cursor: pointer;
  font-size: 1.2rem;
}

.sidebar-header-bottom > .fa-solid {
  font-size: 1.2rem;
}
.tooltip .tooltiptext {
  visibility: hidden;
  padding: 0.5em 0.9em;
  background-color: #181717;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  line-height: 1rem;
  margin-left: -35px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 55%;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fdfbfb;
  color: #181717bb;
  font-family: sans-serif;
  width: 200px;
  padding: 0.9rem 0.3rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 12px;
  position: fixed;
  top: 1%;
  left: 30%;
  display: none;
}
.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-key {
  font-weight: 700;
  color: #252424c0;
}

.fa-solid {
  color: #7a7a7a;
  cursor: pointer;
}

.fa-ellipsis-vertical:hover .portfolio-info {
  display: flex;
}

.user-profile {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
}
.user-profile > i {
  font-size: 4rem;
  color: #dee2ec;
}

.user-profile > .user-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #dee2ec;
}
.main-logo {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
.main-logo > .user-name {
  font-size: 0.9rem;
  color: #61cd70;
}
.main-logo > img {
  width: 100px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  align-self: flex-start;
  margin: 1em 0;
  width: 100%;
}

.link-container {
  align-self: flex-start;
  width: 100%;
}

.link-container > .title {
  color: #61ce70;
  font-size: 1.5rem;
}

.link-container > a {
  text-decoration: underline;
  margin: 1em 1.1em;
  color: #fff;
  font-size: 1rem;
  display: block;
  font-family: sans-serif;
  font-weight: 100;
  color: #dee2ec;
}
.link-container > .horizontal-line {
  width: 90%;
  height: 2px;
  background-color: #fff;
  width: 100%;
  margin-top: 1em;
}
.sidebar-bottom {
  padding-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5em 0;
  gap: 1.5em;
}

.sidebar-bottom-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.company-name {
  align-self: flex-start;
  margin-left: 10px;
  color: #fdfbfb;
  font-size: 0.8rem;
}
.sidebar-bottom-icons > a > .fa-solid {
  font-size: 1.2rem;
  color: #fdfbfb;
}

.real-data {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 90%;
  color: #969696;
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 100vw;
    position: relative;
    left: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .sidebar-bottom-icons > a > .fa-solid {
    font-size: 1.8rem;
  }
  .fa-bars {
    font-size: 1.8rem;
  }
  .tooltip {
    font-size: 1.8rem;
  }
  .company-name {
    font-size: 1rem;
  }
  .real-data {
    font-size: 1.1rem;
  }
}

.box {
  width: 30%;
  height: 500px;
  border: 1px solid red;
}
