/*CSS REST*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  width: 100vw;
  max-width: 1440px;
  padding: 0 3em;
  overflow-x: hidden;
}

#root {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  
}

@media screen and (max-width: 900px) {
#root {
    flex-wrap: wrap;
  }
}