/*CSS REST*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  margin-left: 33%;
  padding-left: 3%;

}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
 
}

@media screen and (max-width: 1108px) {
  #root {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    gap: 4rem;
  }
  body {
    margin: 0 2rem;
    padding: 0;
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  body {
    margin: 0;
  }
}
